<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBz0YLrySak6z_HHil-jiEAjmQXVAe_KX0</string>
	<key>GCM_SENDER_ID</key>
	<string>413799318694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftmagic.WhatsAppClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-bba44</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-bba44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413799318694:ios:a0b90b25260e3d1995a067</string>
</dict>
</plist>